[Desktop Entry]
Name=Bitrate
Comment=A Bandwidth Monitor applet for the COSMIC™ desktop.
Type=Application
Icon=io.github.cosmic_utils.cosmic-ext-applet-bitrate
Exec=cosmic-ext-applet-bitrate %F
Terminal=false
StartupNotify=true
Categories=COSMIC;Iced;
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
